$blue: #0079c1;
$gray: #efefef;
$white: #fff;

// Calcite panel tweeks

html,
body,
#scene,
#sceneView {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

// Disable selection & highlighting
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// Disable focus glow
*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// General

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#app,
#scene {
  position: relative;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .top {
  flex: 0 1 auto;
}

.box .content {
  flex: 1 1 auto;
}

.box > .content > div {
  height: 100%;
  position: relative;
}

.box > .content > div > * {
  position: absolute;
  bottom: 0px;
}

.box > .content > div > .menu {
  transform: translate(-50%, 0);
  display: inline-block;
}

.box > * {
  text-align: center;
  width: 100%;
}

.box .footer {
  flex: 0 1 40px;
}

.box, .intro {
  width: 100%;
  position: absolute;
}

.box {
  pointer-events: none;
}

.btn, .menu-item, .sketchfab-widget > *, .gallery-grid {
  pointer-events: auto;
}

.timeline {
  width: 100%;
}

.timeline .menu-left {
  position: absolute;
  top: 0px;
}

.timeline .menu-left {
  left: 0px;
}

.btn {
  border-radius: 8px;
  border: none;
}

.btn-large {
  @extend .font-size-1;
}

.btn-white {
  background-color: #FFF0;
  border: 2px white solid;
  color: white;
  font-size: 12px;
}

.menu .btn {
  border: none;
  background-color: #FFF0;
  color: $off-black;
}

.menu .btn:hover {
  background-color: $white;
}

.menu .btn:active, .menu .btn.active {
  background-color: $white;
  color: $dark-blue;
}

.bottom .btn:not(.btn-large) {
  width: 80px;
  font-size: 12px;
}

.bottom .btn.btn-large {
  top: 6px;
}

.bottom .btn-large:first-child {
  margin-right: 35px;
  margin-left: 13px;
}

.bottom .btn-large:last-child {
  margin-right: 13px;
  margin-left: 35px;
}

#overlay {
  background-color: #000;
  height: 100%;
  width: 100%;
}

.intro > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: #FFF9;
  display: inline-block;
  border-radius: 10px;
}

.bottom .menu {
  border-radius: 20px;
  background-color: #FFFD;
}

.menu-left {
  text-align: left;
}

.menu-right {
  text-align: right;
}

.menu-item {
  display: inline-block;
  margin: 5px;
}

.primary-menu .menu-item {
  margin: 10px;
}

.sketchfab-widget {
  display: block;
  position: absolute;
  height: auto;
  left: 40px;
  right: 40px;
  bottom: 0;
  top: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gltf-logo {
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(images/gltf.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  pointer-events: none;
}

[class^="icon-ui-"]:before, [class*=" icon-ui-"]:before {
  padding-right: 0px
}

.gallery-grid {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
  padding-bottom: 20px;
}

.gallery-grid-item {
  height: 70px;
  width: 70px;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
  background-color: #FFF8;
  border-radius: 10px;
}

.gallery-grid-item:hover {
  background-color: $white;
}

.gallery-grid-item img {
  height: 64px;
  width: 64px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.gallery-grid-item:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

// Screenshot

#screenshot {
  width: 100%;
  height: 100%;
  text-align: center;
}

#screenshot > div {
  height: 90%;
  width: 60%;
  position: relative;
  display: inline-block;
}

#screenshot > div:first-child, #screenshot > div:last-child {
  width: 20%;
}

#screenshot .btn {
  width: 75px;
  height: 75px;
}

// Intro

.card {
  border-radius: 10px;
}

.card-wide-image-wrap {
  border-radius: 10px 0px 0px 10px;
}
