$blue: #0079c1;
$gray: #efefef;
$white: #fff;

// Calcite panel tweeks

html,
body,
#scene,
#sceneView {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

// Disable selection & highlighting
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#app,
#scene {
  position: relative;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box div {
  border: 1px dotted grey;
}

.box .top {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .center {
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 40px;
}

.box, .intro {
  width: 100%;
  position: absolute;
  pointer-events: none;
}

.intro {
  background-color: #000A;
  height: 100%;
  width: 100%;
}

.intro > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  width: 100%;
  text-align: center;
}

.menu-item {
  display: inline-block;
  margin: 5px;
}

.menu-item, .card, .gallery-grid-item {
  pointer-events: auto;
}

.primary-menu .menu-item {
  margin: 10px;
}


#topMenu,
#bottomMenu,
#sceneView,
#sceneSlides {
  position: absolute;
}

// Make bottom menu circled
.shaded-menu {
  background-color: $transparent-black;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  // text-align: center;
  // vertical-align: middle;
  position: relative;
  box-shadow: inset -10px -10px 100px #000, 10px 10px 20px black, inset 0px 0px 10px #0005;
  display: inline-block;
  margin: 10px;
}

/*
.primary-menu .menuItem::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: '';
  height: 45%;
  width: 12%;
  position: absolute;
  top: 4%;
  left: 15%;
  border-radius: 50%;
  transform: rotate(40deg);
}
*/

.scene-slides .slide {
  position: relative;
  margin: 10px;
  float: left;
  div {
    position: absolute;
    bottom: 0px;
    color: white;
    left: 5px;
    text-shadow: 1px 1px #000000;
  }
}

[class^="icon-ui-"]:before, [class*=" icon-ui-"]:before {
  padding-right: 0px
}

.gallery-grid {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.gallery-grid-item {
  padding: 6px;
  display: inline-block;
}

.menu-bar .gallery-grid-item {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #4c4c4c;
}

.menu-bar {
  padding-top: 50px;
  height: 100%;
  background-color: #4c4c4c;
  position: absolute;
  z-index: 10;
  left: auto;
  right: 0px;
}

.menu-bar .btn-link {
  margin: 10px;
  color: white;
}

.menu-bar .btn {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #00000000;
  border-bottom-color: white;
  border-top-color: white;
//  border-left-width: 0px;
//  border-right-width: 0px;
}

.menu-bar .is-active {
  color: #4c4c4c;
  background-color: white;
}
